.login-page-section {
    width: 30vw;
    height: calc(100vh - 384px);
    margin: auto;
    position: relative;

    form {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .section-header {
        margin-bottom: var(--unnamed-pixel-40);
    }
}