.list-page {

    .sort-section {
        padding-bottom: var(--unnamed-pixel-24);

        .sorting-filter {
            display: flex;
            justify-content: flex-end;
        }
    }

    .home-banner-section {
        margin-top: var(--unnamed-pixel-2);
    }
}